In [0]:
import pandas as pd 
import sklearn
import keras
from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.preprocessing import LabelEncoder 
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 
import tensorflow as tf

In [0]:
import pandas as pd
import numpy as np
import tensorflow as tf
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.optimizers import Adam
from keras.layers import LSTM

In [0]:
df=pd.read_csv('US_Accidents_Dec19.csv',header=0)

In [61]:
df.head()

    ID    Source    TMC  ...  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0  A-1  MapQuest  201.0  ...           Night             Night                 Night
1  A-2  MapQuest  201.0  ...           Night             Night                   Day
2  A-3  MapQuest  201.0  ...           Night               Day                   Day
3  A-4  MapQuest  201.0  ...             Day               Day                   Day
4  A-5  MapQuest  201.0  ...             Day               Day                   Day

[5 rows x 49 columns]

In [62]:
df.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [63]:
df.isnull().sum()

ID                             0
Source                         0
TMC                       728071
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  2246264
End_Lng                  2246264
Distance(mi)                   0
Description                    1
Number                   1917605
Street                         0
Side                           0
City                          83
County                         0
State                          0
Zipcode                      880
Country                        0
Timezone                    3163
Airport_Code                5691
Weather_Timestamp          36705
Temperature(F)             56063
Wind_Chill(F)            1852623
Humidity(%)                59173
Pressure(in)               48142
Visibility(mi)             65691
Wind_Direction             45101
Wind_Speed(mph)           440840
Precipitation(in)        1998358
Weather_Condition          65932
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset                93
Civil_Twilight                93
Nautical_Twilight             93
Astronomical_Twilight         93
dtype: int64

In [64]:
# checking the percentage of all the values
# null values = 100 - the values shown

df.count()/2974242*(100)

ID                       100.003127
Source                   100.003127
TMC                       75.523915
Severity                 100.003127
Start_Time               100.003127
End_Time                 100.003127
Start_Lat                100.003127
Start_Lng                100.003127
End_Lat                   24.479212
End_Lng                   24.479212
Distance(mi)             100.003127
Description              100.003093
Number                    35.529389
Street                   100.003127
Side                     100.003127
City                     100.000336
County                   100.003127
State                    100.003127
Zipcode                   99.973539
Country                  100.003127
Timezone                  99.896780
Airport_Code              99.811784
Weather_Timestamp         98.769031
Temperature(F)            98.118176
Wind_Chill(F)             37.714214
Humidity(%)               98.013612
Pressure(in)              98.384496
Visibility(mi)            97.794463
Wind_Direction            98.486740
Wind_Speed(mph)           85.181199
Precipitation(in)         32.814310
Weather_Condition         97.786360
Amenity                  100.003127
Bump                     100.003127
Crossing                 100.003127
Give_Way                 100.003127
Junction                 100.003127
No_Exit                  100.003127
Railway                  100.003127
Roundabout               100.003127
Station                  100.003127
Stop                     100.003127
Traffic_Calming          100.003127
Traffic_Signal           100.003127
Turning_Loop             100.003127
Sunrise_Sunset           100.000000
Civil_Twilight           100.000000
Nautical_Twilight        100.000000
Astronomical_Twilight    100.000000
dtype: float64

In [65]:
# Convert Start_Time and End_Time to datetypes

df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')
df['End_Time'] = pd.to_datetime(df['End_Time'], errors='coerce')

# Extract year, month, day, hour and weekday

df['Year']=df['Start_Time'].dt.year
df['Month']=df['Start_Time'].dt.strftime('%b')
df['Day']=df['Start_Time'].dt.day
df['Hour']=df['Start_Time'].dt.hour
df['Weekday']=df['Start_Time'].dt.strftime('%a')

# Extract the amount of time in the unit of minutes for each accident, round to the nearest integer

td='Time_Duration(min)'
df[td]=round((df['End_Time']-df['Start_Time'])/np.timedelta64(1,'m'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2974335 entries, 0 to 2974334
Data columns (total 55 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   TMC                    float64
 3   Severity               int64
 4   Start_Time             datetime64[ns]
 5   End_Time               datetime64[ns]
 6   Start_Lat              float64
 7   Start_Lng              float64
 8   End_Lat                float64
 9   End_Lng                float64
 10  Distance(mi)           float64
 11  Description            object
 12  Number                 float64
 13  Street                 object
 14  Side                   object
 15  City                   object
 16  County                 object
 17  State                  object
 18  Zipcode                object
 19  Country                object
 20  Timezone               object
 21  Airport_Code           object
 22  Weather_Timestamp      object
 23  Temperature(F)         float64
 24  Wind_Chill(F)          float64
 25  Humidity(%)            float64
 26  Pressure(in)           float64
 27  Visibility(mi)         float64
 28  Wind_Direction         object
 29  Wind_Speed(mph)        float64
 30  Precipitation(in)      float64
 31  Weather_Condition      object
 32  Amenity                bool
 33  Bump                   bool
 34  Crossing               bool
 35  Give_Way               bool
 36  Junction               bool
 37  No_Exit                bool
 38  Railway                bool
 39  Roundabout             bool
 40  Station                bool
 41  Stop                   bool
 42  Traffic_Calming        bool
 43  Traffic_Signal         bool
 44  Turning_Loop           bool
 45  Sunrise_Sunset         object
 46  Civil_Twilight         object
 47  Nautical_Twilight      object
 48  Astronomical_Twilight  object
 49  Year                   int64
 50  Month                  object
 51  Day                    int64
 52  Hour                   int64
 53  Weekday                object
 54  Time_Duration(min)     float64
dtypes: bool(13), datetime64[ns](2), float64(15), int64(4), object(21)
memory usage: 990.0+ MB

In [66]:
# Checking if there is any negative time_duration values

df[td][df[td]<=0]

69719      -0.0
69720      -0.0
69721      -0.0
69722      -1.0
69723      -1.0
309387    -30.0
309388    -30.0
628436    -12.0
628472    -31.0
628489     -0.0
628923    -14.0
628942     -0.0
628943    -30.0
1265261   -30.0
1265262   -31.0
2002026   -30.0
2002111   -30.0
2002112   -31.0
2565229   -34.0
2565705    -7.0
2565708    -7.0
2693474   -31.0
Name: Time_Duration(min), dtype: float64

In [67]:
# Drop the rows with td<0

neg_outliers=df[td]<=0

# Set outliers to NAN

df[neg_outliers] = np.nan

# Drop rows with negative td

df.dropna(subset=[td],axis=0,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2974313 entries, 0 to 2974334
Data columns (total 55 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   TMC                    float64
 3   Severity               float64
 4   Start_Time             datetime64[ns]
 5   End_Time               datetime64[ns]
 6   Start_Lat              float64
 7   Start_Lng              float64
 8   End_Lat                float64
 9   End_Lng                float64
 10  Distance(mi)           float64
 11  Description            object
 12  Number                 float64
 13  Street                 object
 14  Side                   object
 15  City                   object
 16  County                 object
 17  State                  object
 18  Zipcode                object
 19  Country                object
 20  Timezone               object
 21  Airport_Code           object
 22  Weather_Timestamp      object
 23  Temperature(F)         float64
 24  Wind_Chill(F)          float64
 25  Humidity(%)            float64
 26  Pressure(in)           float64
 27  Visibility(mi)         float64
 28  Wind_Direction         object
 29  Wind_Speed(mph)        float64
 30  Precipitation(in)      float64
 31  Weather_Condition      object
 32  Amenity                float64
 33  Bump                   float64
 34  Crossing               float64
 35  Give_Way               float64
 36  Junction               float64
 37  No_Exit                float64
 38  Railway                float64
 39  Roundabout             float64
 40  Station                float64
 41  Stop                   float64
 42  Traffic_Calming        float64
 43  Traffic_Signal         float64
 44  Turning_Loop           float64
 45  Sunrise_Sunset         object
 46  Civil_Twilight         object
 47  Nautical_Twilight      object
 48  Astronomical_Twilight  object
 49  Year                   float64
 50  Month                  object
 51  Day                    float64
 52  Hour                   float64
 53  Weekday                object
 54  Time_Duration(min)     float64
dtypes: datetime64[ns](2), float64(32), object(21)
memory usage: 1.2+ GB

In [68]:
# Double check to make sure no more negative td

df[td][df[td]<=0]

Series([], Name: Time_Duration(min), dtype: float64)

In [69]:
# Remove outliers for Time_Duration(min): n * standard_deviation (n=3), backfill with median

n=3

median = df[td].median()
std = df[td].std()
outliers = (df[td] - median).abs() > std*n

# Set outliers to NAN

df[outliers] = np.nan

# Fill NAN with median

df[td].fillna(median, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2974313 entries, 0 to 2974334
Data columns (total 55 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   TMC                    float64
 3   Severity               float64
 4   Start_Time             datetime64[ns]
 5   End_Time               datetime64[ns]
 6   Start_Lat              float64
 7   Start_Lng              float64
 8   End_Lat                float64
 9   End_Lng                float64
 10  Distance(mi)           float64
 11  Description            object
 12  Number                 float64
 13  Street                 object
 14  Side                   object
 15  City                   object
 16  County                 object
 17  State                  object
 18  Zipcode                object
 19  Country                object
 20  Timezone               object
 21  Airport_Code           object
 22  Weather_Timestamp      object
 23  Temperature(F)         float64
 24  Wind_Chill(F)          float64
 25  Humidity(%)            float64
 26  Pressure(in)           float64
 27  Visibility(mi)         float64
 28  Wind_Direction         object
 29  Wind_Speed(mph)        float64
 30  Precipitation(in)      float64
 31  Weather_Condition      object
 32  Amenity                float64
 33  Bump                   float64
 34  Crossing               float64
 35  Give_Way               float64
 36  Junction               float64
 37  No_Exit                float64
 38  Railway                float64
 39  Roundabout             float64
 40  Station                float64
 41  Stop                   float64
 42  Traffic_Calming        float64
 43  Traffic_Signal         float64
 44  Turning_Loop           float64
 45  Sunrise_Sunset         object
 46  Civil_Twilight         object
 47  Nautical_Twilight      object
 48  Astronomical_Twilight  object
 49  Year                   float64
 50  Month                  object
 51  Day                    float64
 52  Hour                   float64
 53  Weekday                object
 54  Time_Duration(min)     float64
dtypes: datetime64[ns](2), float64(32), object(21)
memory usage: 1.2+ GB

In [70]:
# Print time_duration information

print('Max time to clear an accident: {} minutes or {} hours or {} days; Min to clear an accident td: {} minutes.'.format(df[td].max(),round(df[td].max()/60), round(df[td].max()/60/24), df[td].min()))

Max time to clear an accident: 11080.0 minutes or 185 hours or 8 days; Min to clear an accident td: 1.0 minutes.

In [71]:
df.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'Year', 'Month', 'Day', 'Hour', 'Weekday',
       'Time_Duration(min)'],
      dtype='object')

In [0]:
# Set the list of features to include in Machine Learning

df1=df[['Source','TMC','Severity','Start_Lng','Description','Wind_Speed(mph)','Astronomical_Twilight',
             'Start_Lat','Start_Lng','Distance(mi)','Side','City','County','Civil_Twilight',
             'State','Timezone','Temperature(F)','Humidity(%)','Nautical_Twilight',
             'Pressure(in)', 'Visibility(mi)', 'Wind_Direction','Weather_Condition',
             'Amenity','Bump','Crossing','Give_Way','Junction','No_Exit','Railway','Roundabout',
             'Station','Stop','Traffic_Calming','Traffic_Signal','Turning_Loop','Sunrise_Sunset',
             'Hour','Weekday', 'Time_Duration(min)','Year', 'Month', 'Day',]]

In [73]:
# Check missing values

df1.isnull().mean()

Source                   0.000196
TMC                      0.244799
Severity                 0.000196
Start_Lng                0.000196
Description              0.000196
Wind_Speed(mph)          0.148376
Astronomical_Twilight    0.000227
Start_Lat                0.000196
Start_Lng                0.000196
Distance(mi)             0.000196
Side                     0.000196
City                     0.000224
County                   0.000196
Civil_Twilight           0.000227
State                    0.000196
Timezone                 0.001259
Temperature(F)           0.019033
Humidity(%)              0.020079
Nautical_Twilight        0.000227
Pressure(in)             0.016372
Visibility(mi)           0.022271
Wind_Direction           0.015352
Weather_Condition        0.022353
Amenity                  0.000196
Bump                     0.000196
Crossing                 0.000196
Give_Way                 0.000196
Junction                 0.000196
No_Exit                  0.000196
Railway                  0.000196
Roundabout               0.000196
Station                  0.000196
Stop                     0.000196
Traffic_Calming          0.000196
Traffic_Signal           0.000196
Turning_Loop             0.000196
Sunrise_Sunset           0.000227
Hour                     0.000196
Weekday                  0.000196
Time_Duration(min)       0.000000
Year                     0.000196
Month                    0.000196
Day                      0.000196
dtype: float64

In [74]:
# droping the nan and null values

df1.dropna(subset=df1.columns[df1.isnull().mean()!=0], how='any', axis=0, inplace=True)
df1.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(1886924, 43)

In [75]:
# Number of null values

df1.isnull().sum().sum()

0

In [76]:
df1.head()

     Source    TMC  Severity  Start_Lng  ... Time_Duration(min)    Year Month  Day
2  MapQuest  201.0       2.0 -84.032608  ...               30.0  2016.0   Feb  8.0
3  MapQuest  201.0       3.0 -84.205582  ...               30.0  2016.0   Feb  8.0
4  MapQuest  201.0       2.0 -84.188354  ...               30.0  2016.0   Feb  8.0
5  MapQuest  201.0       3.0 -82.925194  ...               30.0  2016.0   Feb  8.0
6  MapQuest  201.0       2.0 -84.230507  ...               30.0  2016.0   Feb  8.0

[5 rows x 43 columns]

In [77]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1886924 entries, 2 to 2246263
Data columns (total 43 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Source                 object
 1   TMC                    float64
 2   Severity               float64
 3   Start_Lng              float64
 4   Description            object
 5   Wind_Speed(mph)        float64
 6   Astronomical_Twilight  object
 7   Start_Lat              float64
 8   Start_Lng              float64
 9   Distance(mi)           float64
 10  Side                   object
 11  City                   object
 12  County                 object
 13  Civil_Twilight         object
 14  State                  object
 15  Timezone               object
 16  Temperature(F)         float64
 17  Humidity(%)            float64
 18  Nautical_Twilight      object
 19  Pressure(in)           float64
 20  Visibility(mi)         float64
 21  Wind_Direction         object
 22  Weather_Condition      object
 23  Amenity                float64
 24  Bump                   float64
 25  Crossing               float64
 26  Give_Way               float64
 27  Junction               float64
 28  No_Exit                float64
 29  Railway                float64
 30  Roundabout             float64
 31  Station                float64
 32  Stop                   float64
 33  Traffic_Calming        float64
 34  Traffic_Signal         float64
 35  Turning_Loop           float64
 36  Sunrise_Sunset         object
 37  Hour                   float64
 38  Weekday                object
 39  Time_Duration(min)     float64
 40  Year                   float64
 41  Month                  object
 42  Day                    float64
dtypes: float64(28), object(15)
memory usage: 633.4+ MB

In [78]:
# Implementing the LabelEncoder for the Categorical values

labelencoder = LabelEncoder()
df1['Source'] = labelencoder.fit_transform(df1['Source'])
df1['Description'] = labelencoder.fit_transform(df1['Description'])
df1['Astronomical_Twilight'] = labelencoder.fit_transform(df1['Astronomical_Twilight'])
df1['Side'] = labelencoder.fit_transform(df1['Side'])
df1['City'] = labelencoder.fit_transform(df1['City'])
df1['County'] = labelencoder.fit_transform(df1['County'])
df1['Civil_Twilight'] = labelencoder.fit_transform(df1['Civil_Twilight'])
df1['State'] = labelencoder.fit_transform(df1['State'])
df1['Timezone'] = labelencoder.fit_transform(df1['Timezone'])
df1['Nautical_Twilight'] = labelencoder.fit_transform(df1['Nautical_Twilight'])
df1['Wind_Direction'] = labelencoder.fit_transform(df1['Wind_Direction'])
df1['Weather_Condition'] = labelencoder.fit_transform(df1['Weather_Condition'])
df1['Sunrise_Sunset'] = labelencoder.fit_transform(df1['Sunrise_Sunset'])
df1['Weekday'] = labelencoder.fit_transform(df1['Weekday'])
df1['Month'] = labelencoder.fit_transform(df1['Month'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [79]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1886924 entries, 2 to 2246263
Data columns (total 43 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Source                 int64
 1   TMC                    float64
 2   Severity               float64
 3   Start_Lng              float64
 4   Description            int64
 5   Wind_Speed(mph)        float64
 6   Astronomical_Twilight  int64
 7   Start_Lat              float64
 8   Start_Lng              float64
 9   Distance(mi)           float64
 10  Side                   int64
 11  City                   int64
 12  County                 int64
 13  Civil_Twilight         int64
 14  State                  int64
 15  Timezone               int64
 16  Temperature(F)         float64
 17  Humidity(%)            float64
 18  Nautical_Twilight      int64
 19  Pressure(in)           float64
 20  Visibility(mi)         float64
 21  Wind_Direction         int64
 22  Weather_Condition      int64
 23  Amenity                float64
 24  Bump                   float64
 25  Crossing               float64
 26  Give_Way               float64
 27  Junction               float64
 28  No_Exit                float64
 29  Railway                float64
 30  Roundabout             float64
 31  Station                float64
 32  Stop                   float64
 33  Traffic_Calming        float64
 34  Traffic_Signal         float64
 35  Turning_Loop           float64
 36  Sunrise_Sunset         int64
 37  Hour                   float64
 38  Weekday                int64
 39  Time_Duration(min)     float64
 40  Year                   float64
 41  Month                  int64
 42  Day                    float64
dtypes: float64(28), int64(15)
memory usage: 633.4 MB

In [80]:
# checking the severity values

df['Severity'].value_counts()

2.0    1993210
3.0     887547
4.0      92006
1.0        968
Name: Severity, dtype: int64

In [81]:
# Allocating the columns 

y = df1['Severity']
X = df1.drop(['Severity'],axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
X = df1

In [83]:
df

                ID    Source    TMC  ...  Hour Weekday Time_Duration(min)
0              A-1  MapQuest  201.0  ...   5.0     Mon              314.0
1              A-2  MapQuest  201.0  ...   6.0     Mon               30.0
2              A-3  MapQuest  201.0  ...   6.0     Mon               30.0
3              A-4  MapQuest  201.0  ...   7.0     Mon               30.0
4              A-5  MapQuest  201.0  ...   7.0     Mon               30.0
...            ...       ...    ...  ...   ...     ...                ...
2974330  A-2974354      Bing    NaN  ...  18.0     Fri               29.0
2974331  A-2974355      Bing    NaN  ...  19.0     Fri               27.0
2974332  A-2974356      Bing    NaN  ...  19.0     Fri               28.0
2974333  A-2974357      Bing    NaN  ...  19.0     Fri               29.0
2974334  A-2974358      Bing    NaN  ...  18.0     Fri               29.0

[2974313 rows x 55 columns]

In [0]:
# Impleminting Encoder 

from keras.utils import np_utils
Y1 = np_utils.to_categorical(y)

In [0]:

Y1 = Y1[:,1:5]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y1, test_size=0.33, random_state=45)

In [100]:
# first neural network with keras tutorial

from numpy import loadtxt

from keras.models import Sequential
from keras.layers import Dense, Dropout, BatchNormalization, Activation

# load the dataset
#dataset = loadtxt('pima-indians-diabetes.csv', delimiter=',')
# split into input (X) and output (y) variables

# defining the keras model

model = Sequential()
model.add(Dense(12, input_dim=42, activation='relu'))
model.add(Dropout(0.4))
model.add(BatchNormalization())
model.add(Dense(10, activation='relu'))
model.add(Dropout(0.4))
model.add(BatchNormalization())
model.add(Dense(8, activation='relu'))
model.add(Dropout(0.4))
model.add(BatchNormalization())
model.add(Dense(6, activation='relu'))
model.add(Dense(4, activation='softmax'))
# compile the keras model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=20, batch_size=100)
# evaluate the keras model
_, accuracy = model.evaluate(X,Y1)
print('Accuracy: %.2f' % (accuracy*100))

Epoch 1/20
1264239/1264239 [==============================] - 31s 25us/step - loss: 0.6449 - accuracy: 0.6775
Epoch 2/20
1264239/1264239 [==============================] - 30s 24us/step - loss: 0.6232 - accuracy: 0.6838
Epoch 3/20
1264239/1264239 [==============================] - 30s 24us/step - loss: 0.6214 - accuracy: 0.6852
Epoch 4/20
1264239/1264239 [==============================] - 33s 26us/step - loss: 0.6210 - accuracy: 0.6856
Epoch 5/20
1264239/1264239 [==============================] - 32s 25us/step - loss: 0.6207 - accuracy: 0.6856
Epoch 6/20
1264239/1264239 [==============================] - 32s 25us/step - loss: 0.6351 - accuracy: 0.6763
Epoch 7/20
1264239/1264239 [==============================] - 32s 25us/step - loss: 0.6561 - accuracy: 0.6633
Epoch 8/20
1264239/1264239 [==============================] - 31s 25us/step - loss: 0.6558 - accuracy: 0.6635
Epoch 9/20
1264239/1264239 [==============================] - 32s 25us/step - loss: 0.6560 - accuracy: 0.6633
Epoch 10/20
1264239/1264239 [==============================] - 32s 26us/step - loss: 0.6562 - accuracy: 0.6627
Epoch 11/20
1264239/1264239 [==============================] - 32s 25us/step - loss: 0.6562 - accuracy: 0.6627
Epoch 12/20
1264239/1264239 [==============================] - 32s 25us/step - loss: 0.6557 - accuracy: 0.6632
Epoch 13/20
1264239/1264239 [==============================] - 31s 25us/step - loss: 0.6556 - accuracy: 0.6635
Epoch 14/20
1264239/1264239 [==============================] - 31s 25us/step - loss: 0.6553 - accuracy: 0.6640
Epoch 15/20
1264239/1264239 [==============================] - 32s 25us/step - loss: 0.6551 - accuracy: 0.6644
Epoch 16/20
1264239/1264239 [==============================] - 31s 25us/step - loss: 0.6547 - accuracy: 0.6650
Epoch 17/20
1264239/1264239 [==============================] - 31s 25us/step - loss: 0.6553 - accuracy: 0.6639
Epoch 18/20
1264239/1264239 [==============================] - 31s 25us/step - loss: 0.6550 - accuracy: 0.6645
Epoch 19/20
1264239/1264239 [==============================] - 31s 25us/step - loss: 0.6549 - accuracy: 0.6647
Epoch 20/20
1264239/1264239 [==============================] - 31s 25us/step - loss: 0.6548 - accuracy: 0.6647
1886924/1886924 [==============================] - 48s 25us/step
Accuracy: 66.82